{% extends 'userprofile/user_base.html' %}
{% block body %}

{% block dashboard %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'addblog' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Add Blog
            </a>
          </li>
          {% for cat in categories %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'usercategory' cat.slug %}">
              <span data-feather="home" class="align-text-bottom"></span>
              {{cat.title}}
            </a>
          </li>
          {% endfor %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'profile' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">
              <span data-feather="home" class="align-text-bottom"></span>
              Back on Website
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% if not request.user == profile_name.username %}
        {% for p in profile_name %}
        <h1 class="h2">{{p.profile_name | upper}} Dashboard</h1>
        {% empty %}
        <h1 class="h2">{{request.user | upper}} Dashboard</h1>
        {% endfor %}
        {% else %}
        <h1 class="h2">{{request.user | upper}} Dashboard</h1>
        {% endif %}
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>


<!--Form section-->
<div class="container">
  <h1 class="text-center mb-3">Update your blog</h1>
  <form action="updated_blog_fields/{{post.id}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="mb-3">
  <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" placeholder="Enter Title">
</div>
<div class="mb-3">
  <textarea class="form-control" id="description"  name="description" rows="3"
            placeholder="Write your description....">{{post.description | safe}}</textarea>
</div>


<div class="mb-3">
  <label for="image" class="form-label">Select Image</label>
  <input class="form-control" type="file" id="image" name="image" value="{{post.image.url}}"
         onchange="loadFile(event)" >
</div>

<div class="mb-3">
  <label for="video" class="form-label">Select video</label>
  <input class="form-control" type="file" id="video" name="video" value="/media/{{post.video}}">
</div>


<select class="form-select" aria-label="Default select example" name="category">
  <option selected value="none" >Please select... Your pase cat: {{post.category.title}}</option>
  {% for cat in categories %}
  <option value="{{cat.id}}">{{cat.title}}</option>
  {% endfor %}
</select>

    <div>
      <button type="submit" class="btn btn-success mt-3 w-100">Submit Blog</button>
    </div>

</form>
</div>


    </main>
  </div>
</div>


{% block addblog %}



{% endblock %}
{% endblock %}
{% endblock %}

